{% extends 'base.html.twig' %}

{% block title %}Edit {{ app.user.duckname }} profile{% endblock %}

{% block body %}
    <h1>Edit Duck</h1>

    {{ form_start(profileForm) }}
        {{ form_row(profileForm.duckname) }}
        {{ form_row(profileForm.firstname) }}
        {{ form_row(profileForm.lastname) }}
        {{ form_row(profileForm.email) }}
<div class="buttons">

    <button type="submit" class="btn btn-primary">Update</button>

    {{ form_end(profileForm) }}
        <a class="btn btn-danger" href="{{ path('change_password') }}">Change Password</a>
        <a class="btn btn-warning" href="{{ path('app_quack_index') }}">back to list</a>
        <a class="btn btn-success" href="{{ path('app_duck_pond') }}">duck pond</a>
    </div>
{% endblock %}
