{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}
    <h2>Quack index</h2>

    <table class="table">
        <thead>
            <tr class="row">
                <th class="col">Content</th>
                <th class="col">actions</th>
                <th class="col">author</th>
            </tr>
        </thead>
        <tbody>
        {% for quack in quacks %}
            <tr class="row">
                <td class="col">{{ quack.content }}</td>
                <td class="col">
                    <a href="{{ path('app_quack_show', {'id': quack.id}) }}">show</a>

                    {% if is_granted('ROLE_USER') and app.user.id == quack.authorId %}
                        <a href="{{ path('app_quack_edit', {'id': quack.id}) }}">edit</a>
                    {% endif %}

                </td>
                <td class="col">{{ quack.authorId }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_quack_new') }}">Create new</a>
    {% endif %}

{% endblock %}
